In [1]:
import pandas as pd

In [2]:
trrain = pd.read_csv('train.csv',nrows=100000)

In [14]:
pd.DataFrame(trrain.place_id.unique())

                0
0      8523065625
1      1757726713
2      1137537235
3      6567393236
4      7440663949
5      6289802927
6      9931249544
7      5662813655
8      8471780938
9      1253803156
10     8684462954
11     2159916487
12     7652380351
13     8234363596
14     2272949794
15     4740742194
16     2123587484
17     8016758016
18     8936085695
19     2778700985
20     4845908305
21     3938338894
22     9784464752
23     1874355796
24     9885174082
25     4294512385
26     7766380992
27     2110807282
28     9713229580
29     6163271747
...           ...
52853  2740514725
52854  2068038928
52855  5130731947
52856  6551606151
52857  9496822286
52858  7987214365
52859  5005420475
52860  1231512032
52861  4919513730
52862  5743107769
52863  5090583047
52864  8215483194
52865  8836280716
52866  2824648678
52867  3030812157
52868  6939080496
52869  4368945457
52870  6856802952
52871  2554500190
52872  3256755178
52873  5722806985
52874  5029682659
52875  6835978306
52876  6445602846
52877  3289339435
52878  8230734878
52879  5934170915
52880  7172576105
52881  7764271698
52882  5384676828

[52883 rows x 1 columns]

In [4]:
subm = pd.read_csv('sample_submission.csv', nrows=10000)

In [5]:
subm

      row_id                          place_id
0          0  3073560757 9004412889 5652080691
1          1  1652178628 4379515211 6612350960
2          2  4894407065 3920195083 7608574746
3          3  7272466660 2004687925 1455486822
4          4  4720452725 4967325204 4782917866
5          5  1283939222 8208358948 2070306016
6          6  6021764482 7803008413 1644190109
7          7  7202788043 1649564607 2246348076
8          8  8296155994 3181135659 6931700594
9          9  4729733312 8921333387 8054967700
10        10  1027098534 6245070149 9024692354
11        11  1306010810 9406917909 7196714656
12        12  3614295669 1833579084 8518751472
13        13  1844184694 2842463785 5460162782
14        14  4042113967 5086283146 3009001162
15        15  6135942103 6056215441 5784403236
16        16  8077889859 1608131585 3256942403
17        17  9985211748 1425382630 2113954391
18        18  8791062048 4586149297 1309512563
19        19  2374272921 6797199517 1186212806
20        20  2705611367 6071452019 6327790578
21        21  3530972003 9494332374 2715251726
22        22  7021832008 3403021486 7049729491
23        23  3597214869 8467982203 4645789375
24        24  9610267088 2739614349 7013193650
25        25  1563787753 5261097438 4705167118
26        26  3726771407 4395903508 8527443705
27        27  6451154544 9542584040 6295092254
28        28  8771817129 3576834241 3037334096
29        29  5475607250 3825735330 5598142413
...      ...                               ...
9970    9970  6722173353 3156066860 6353108173
9971    9971  9132939685 3042743105 7449408833
9972    9972  1286280944 2576721423 3859115563
9973    9973  7154594661 6594744144 1658900739
9974    9974  2557008514 2308763546 9100852786
9975    9975  2417710919 6575726721 1817690212
9976    9976  8003367374 8283694684 2766213441
9977    9977  5043784653 1506344921 8209172002
9978    9978  4164197705 7506311559 7088541578
9979    9979  2994425748 8266580507 2251477933
9980    9980  9135163967 8980163153 8225812272
9981    9981  2965469881 8201060230 8305116169
9982    9982  5539361835 4325263192 5441795042
9983    9983  8672448474 6428814061 4601066500
9984    9984  1029197636 7123347564 8747878695
9985    9985  6791831386 1438198903 5162439511
9986    9986  1619331960 8775363241 6009786035
9987    9987  8652408487 9240771324 9374718367
9988    9988  5220478853 5315375597 1380291167
9989    9989  2959436480 7976747815 9234483788
9990    9990  8383503170 3645588196 9868161525
9991    9991  1820191695 1650319826 3639689514
9992    9992  1028346454 2206412790 3609902469
9993    9993  8965694212 2877339931 4431166601
9994    9994  9880291014 3276672046 1864118610
9995    9995  9631498595 9696000532 6639587871
9996    9996  7476391244 4032487622 2448885763
9997    9997  6460536164 9877971088 8351554994
9998    9998  8620168929 9126355419 2267790914
9999    9999  1987673819 6906972563 5127266804

[10000 rows x 2 columns]

In [6]:
ttest = pd.read_csv('test.csv', nrows=10000)

In [7]:
ttest

      row_id       x       y  accuracy     time
0          0  0.1675  1.3608       107   930883
1          1  7.3909  2.5301        35   893017
2          2  8.0978  2.3473        62   976933
3          3  0.9990  1.0591        62   907285
4          4  0.6670  9.7254        40   914399
5          5  0.1771  0.0022       161   814077
6          6  5.5299  4.6581         2   930759
7          7  8.6021  3.1744         4   862115
8          8  4.2250  6.3435       162   787391
9          9  0.6489  6.2611        39   793166
10        10  2.7546  6.6373       315   807936
11        11  0.9998  7.4121        80   913991
12        12  4.9477  6.4959         7   938599
13        13  5.0336  1.2666        83   800780
14        14  0.9480  4.4362        59   892117
15        15  0.2898  3.0031        57   909801
16        16  5.2386  1.8262        52   867042
17        17  2.9797  7.7333       170   822650
18        18  5.0956  0.1904        56   841934
19        19  2.7856  1.7072        61   884954
20        20  3.6321  2.2853        67   905857
21        21  9.9039  5.9419        76   842668
22        22  5.5745  3.4077        30   863513
23        23  2.4119  6.3321        70   867179
24        24  3.0635  4.2433        78   855147
25        25  4.8934  3.7615       237   820307
26        26  0.9999  9.9553       844   809976
27        27  9.4647  2.0808       638   872145
28        28  5.0168  6.4633        90   861390
29        29  0.1378  6.3284        25   791750
...      ...     ...     ...       ...      ...
9970    9970  9.2715  7.8943       169   860621
9971    9971  3.2909  2.0997        54   869674
9972    9972  9.9267  2.6941        45   863427
9973    9973  4.2065  0.3042        72   817026
9974    9974  3.5731  8.8919       889   811660
9975    9975  6.8778  1.0616        53   877282
9976    9976  0.7109  0.9944        29   825415
9977    9977  2.9017  5.3091        70   926655
9978    9978  1.1082  1.5717        40   987200
9979    9979  4.8812  1.4885        62   940516
9980    9980  2.1150  4.3014        30   969947
9981    9981  6.5784  4.7251       179   963207
9982    9982  7.0883  3.6818        78   976000
9983    9983  2.2543  1.2644        60   922976
9984    9984  4.2396  2.2767       165   792807
9985    9985  4.5532  5.0807        74  1006262
9986    9986  5.2034  7.6783       164   881410
9987    9987  2.1928  5.5869        65   920738
9988    9988  8.1665  2.5691        54   952813
9989    9989  0.6087  9.0188        91  1003254
9990    9990  9.5710  4.9123        74   914568
9991    9991  1.5015  0.9353        44   819808
9992    9992  7.6843  4.9542        57   962949
9993    9993  9.3460  2.5280       132   879108
9994    9994  2.5688  0.9147        64   896675
9995    9995  0.8477  6.9365         5   845993
9996    9996  9.8768  1.1198        41   999441
9997    9997  6.2845  7.6473       181   870008
9998    9998  0.2545  6.0546        73   840419
9999    9999  8.8963  1.1282         9   820609

[10000 rows x 5 columns]

In [18]:
gh = trrain.groupby(['place_id'])

In [37]:
aggregations = {'x': {'xss': 'x'}}

In [38]:
gh.aggregate(aggregations)

AttributeError: 'SeriesGroupBy' object has no attribute 'x'

In [40]:
# coding: utf-8
__author__ = 'ZFTurbo: https://kaggle.com/zfturbo'

import datetime
from heapq import nlargest
from operator import itemgetter
import os
import time
import math
from collections import defaultdict


def prep_xy(x, y):
    range = 800
    ix = math.floor(range*x/10)
    if ix < 0:
        ix = 0
    if ix >= range:
        ix = range-1

    iy = math.floor(range*y/10)
    if iy < 0:
        iy = 0
    if iy >= range:
        iy = range-1

    return ix, iy

In [41]:
print('Preparing data...')
f = open("train.csv", "r")

# # Calc counts

# # Sort array
# for el in grid:
#     grid_sorted[el] = nlargest(3, sorted(grid[el].items()), key=itemgetter(1))

# print('Generate submission...')
# sub_file = os.path.join('submission_' + str(datetime.datetime.now().strftime("%Y-%m-%d-%H-%M")) + '.csv')
# out = open(sub_file, "w")
# f = open("../input/test.csv", "r")
# f.readline()
# total = 0
# out.write("row_id,place_id\n")

# while 1:
#     line = f.readline().strip()
#     total += 1

#     if line == '':
#         break

#     arr = line.split(",")
#     row_id = arr[0]
#     x = float(arr[1])
#     y = float(arr[2])
#     accuracy = arr[3]
#     time = arr[4]

#     out.write(str(row_id) + ',')
#     filled = []

#     ix, iy = prep_xy(x, y)

#     s1 = (ix, iy)
#     if s1 in grid_sorted:
#         topitems = grid_sorted[s1]
#         for i in range(len(topitems)):
#             if topitems[i][0] in filled:
#                 continue
#             if len(filled) == 3:
#                 break
#             out.write(' ' + topitems[i][0])
#             filled.append(topitems[i][0])

#     out.write("\n")

# out.close()
# f.close()

Preparing data...

In [42]:
f.readline()
total = 0

In [44]:
grid = defaultdict(lambda: defaultdict(int))

In [46]:
grid_sorted = dict()

In [47]:
while 1:
    line = f.readline().strip()
    total += 1

    if line == '':
        break

    arr = line.split(",")
    row_id = arr[0]
    x = float(arr[1])
    y = float(arr[2])
    accuracy = arr[3]
    time = arr[4]
    place_id = arr[5]

    ix, iy = prep_xy(x, y)

    grid[(ix, iy)][place_id] += 1

f.close()

In [ ]:
start_time = time.time()
run_solution()
print("Elapsed time overall: %s seconds" % (time.time() - start_time))